body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    margin-top: 10vh;
    background-image: url("images/dish_background.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #f6d8b7;
    height: 90vh;
    width: 100%;
}
header{
    position: absolute;
    top: 0px;
    background-color: rgb(255, 255, 255);
    font-family: 'Baloo 2', cursive;
    width: 100%;
    display: flex;
    height: 10vh;
    align-items: center;
}
nav{
    flex: 2;
}
nav ul{
    padding: 0;
    display: flex;
    list-style: none;
}
nav ul li{
    font-size: 20px;
    flex: 1;
    text-align: center;
}
li span:hover{
    cursor: pointer;
    transition: 0.1s;
    padding: 0px 3px 0px 3px;
    background: #fdc23e;
    border-bottom: 2px solid black;
}
#dish, #brocolli, #carrot, #chocolate, #donut, #egg, #pepper, #tomato, #potato{
    position: absolute;
    transform: translate(-50%, -50%);
    height: 600px;
}
#dish img, #brocolli img, #carrot img, #chocolate img, #donut img, #egg img, #pepper img, #potato img, #tomato img{
    height: 100%;
}
#dish{
    left: calc(52% - var(--x)/40);
    top: calc(55% - var(--y)/40);
}
#brocolli{
    left: calc(50% + var(--x)/70);
    top: calc(53% + var(--y)/70);
}
#carrot{
    left: calc(57% + var(--x)/40);
    top: calc(55% - var(--y)/50);
}
#chocolate{
    left: calc(40% - var(--x)/60);
    top: calc(60% + var(--y)/50);
}
#donut{
    left: calc(59% + var(--x)/30);
    top: calc(53% + var(--y)/30);
}
#egg{
    left: calc(35% + var(--x)/30);
    top: calc(45% + var(--y)/30);
}
#pepper{
    left: calc(52% + var(--x)/45);
    top: calc(55% + var(--y)/65);
}
#tomato{
    left: calc(40% - var(--x)/20);
    top: calc(60% + var(--y)/35);
}
#potato{
    left: calc(60% + var(--x)/30);
    top: calc(45% + var(--y)/20);
}
.logo{
    flex: 2;
    display: flex;
    align-items: center;
    font-size: 30px;
    color: #4747478a;
}
.logo i{
    margin-left: 10px;
    padding: 10px;
    background: lightgray;
    border-radius: 50%;
}
header h1{
    padding-left: 20px;
    font-size: 40px;
}
@media screen and (max-width:900px){
    .dish{
        width: 400px;
    }
}

@media screen and (max-width:700px){
    .logo{
        flex: 2;
    }
    nav{
        flex: 1;
    }
    nav ul{
        display: none;
    }
}