h1{
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow{
    from{
        text-shadow: 0 0 30px #e60073;
    }
    to{
        text-shadow: 0 0 30px #ff4da6;
    }
}
img{
    background: black;
}